/* admincoupon.css */
body {
    font-family: Arial, sans-serif;
}

.coupon-container {
    width: 100em;
    height: 50em;
    margin-top: 3em;
    background-color: white; 
    
}

.coupon-info {
    
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.info-label {
    font-weight: bold;
}

.info-value {
    margin-top: 5px;
}
