/* admincoupon.css */
body {
    font-family: Arial, sans-serif;
}

.coupon-container {
   
    
    width: 70em;
    height: 35em;
    margin-top: 3em;
    background-color: white; 
    
}

.coupon-info {
    flex-direction: column;
    margin-bottom: 1em;
}

.info-label {
    border: 1px; background-color: rgb(119, 12, 12); color: white ;
    font-weight: bold;
    float: left;
}

.info-value {
    margin-top: 1em;
}
