.product{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 12vw 70vw 12vw;
}

.product-main{
    width: 100%;
    background-color: white;
    margin: 0px;
    border-radius: 40px;
	padding-top: 1.3em;
	padding-bottom: 1.3em;
	padding-left: 5em;
	padding-right: 5em;
	display: grid;
	align-items: center;
	grid-template-rows: 100px 7fr 1fr;
}

.product-main > div:first-child{
	border-bottom: 3px solid #0C4667;
}

h1 {
	color: #0C4667;
	font-size: 45px;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#product-detail{
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 4fr;
	padding-top: 34px;
}

#detail{
	display: grid;
	grid-template-rows: 1fr 7fr;
}

#description{
	border-top: 2px solid lightgray;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr 3fr;
	padding-top: 50px;
	padding-bottom: 250px;
}

#detail > div{
	font-size: 25px;
}

.product-main > button{
	width: 100px;
	height: 50px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #abc95f;
	color: white;
}
.product-main > button:hover{
	filter: brightness(80%);
}