main {
    width: 75em;
    margin: auto;
    padding: 100px;
}

#contents {
    height: auto;
    background-color: white;
    /* text-align: center;  */
}

div#title_top {
    margin: 0px 0px 20px;
    padding: 10px 0 2px;
}

#contents > #title_top {
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;
}

#contents > #title_top > h1 {
    margin-left: 20px;
    font-size: 23px;
    font-weight: normal;
}

#contents > #tab_tit {
    grid-column: span 3;
}

#contents > #tab_tit nav{
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    border-bottom: 1px solid #EEE;
    padding: 3px 0px 17px;
    margin-bottom: 15px
}

nav a {
    text-decoration: none;
    color: rgb(113, 113, 113);
    font-size: 17px;
}

#contents .con_tit {
    font-size: 20px;
    margin: 20px 0;
}

#tbl_form{
    border-top: 1px solid #BBBBBB;
    margin-bottom: 60px;
}

table {
    width: 100px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    display: table;
    box-sizing: border-box;
    text-indent: inherit;   /* 수정*/
}

th{
    font-size:  normal;
    display: table-cell;
    vertical-align: inherit;
}

#tbl_form th.req::after {
    content: '*';
    margin-left: 10px;
    color: #FF243E;
}

#tbl_fotm th {
    font-weight: bold;
    text-align: left;
}

#tbl_fotm th, #tbl_fotm td {
    border-bottom: 1px solid #EEEEEE;
    height: 40px;
    padding: 7px 4px;
    font-size: 15px;
}
























