.form-container {
	width: 84em;
	background-color: white;
	border-radius: 40px;
}

div.form-container > form {
	width: 50em;
}

.result-container {
	width: 584px;
}

.ml-248x {
	margin-left: 256px;
}

.w-51e {
	width: 51em;
}

.pt-60x {
	padding-top: 100px;
}

.list-title {
	margin-left: 5em;
	margin-top: 4em;
	margin-bottom: 0.8em;
}

.custom-hr {
	width: 70em;
	margin: auto;
}

