#ticketPopup {
    display: grid;
    grid-template-rows: 50px 350px 200px;
    background: #F2F0E5;
    border: 1px solid black;
}

#ticketPopup > div:first-child{
    background-color: #333;
}

#ticketInfo {
    display: grid;
}

#logo {
    border-top: 1px solid black;
}