@charset "UTF-8";


body {
    overflow-y: overlay; 
}
a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}


ul, li {
    padding: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
    font-family: 'Tahoma','돋움',dotum,Nanum Gothic,sans-serif;
}
body{
    margin: 0;

}

header > nav {
    height: 220px;
/*    background-color: teal;*/
}

#section1{
/*    background-color: lightblue;*/
    display: flex;
    height: 100%;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

#ticketing1{
    display: grid;
    width: 1150px;
    height: 100%;
    grid-template-columns: 380px 70px 250px 70px 380px;
    /* background-color: lightcoral; */
}

#movieList, #dateList{
    background-color: #D9D9D9;
    height: 400px;
    display: grid;
    border-radius: 10px;
    align-items: center;
    justify-content: start;
    overflow: scroll;
    overflow-x: hidden;
}

#movieList > .ticketingMovie > a{
    position: relative;
    height: 36px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 380px;
}

.ticketingDate > a{
    position: relative;
    height: 36px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 250px;
}



/* .ticketingDate > a {
    display: block;
    height: 100%;
    width: 100%;
} */

.ticketingMovie > a > img {

    padding-left: 40px;
}

.text:visited, .text:link{
    color: black;
    text-decoration: none;
}
/* 
.ticketingMovie > div {
    position: relative;
    cursor: pointer;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
} */

.ticketingMovie:hover, .ticketingDate:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* .ticketingMovie:selected {
    background-color: #333;
    width: 242px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #000;
} */

.ticketingMovie > div:first-child{
    margin-left: 30px;
}

.ticketingMovie > a > img{
    height: 36px;
}

.ticketingMovie > a > span, .ticketingDate > a > span{
    vertical-align: 11px;
}


.ticketingDate {
    height: 36px;
    width: 250px;
    background-color: #D9D9D9;
}


#movie, #date{
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: 41.25px 1fr;
}


#movie > div:nth-of-type(1), #date > div:nth-of-type(1), #time > div:nth-of-type(1){
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#time{
    display: grid;
    grid-template-rows: 41.25px 1fr 1fr 1fr;
    grid-row-gap: 10px;
} 

#theater1, #theater2, #theater3 {
    background-color: #D9D9D9;
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

#section2{
    display: flex;
    height: 600px;
    justify-content: center;
 
    flex-shrink: 0;
/*    background-color: lightblue;*/
}

.menuName {
    background-color: #333333;
    height: 41.25px;
}
#movie > div:first-child > span, #date > div:first-child > span, #time > div:first-child > span{
    color: white;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#theater1, #theater2, #theater3{
   display: grid;
   grid-template-rows: 0.8fr 1fr 1fr;
}

#theater1 > div:first-child, #theater2 > div:first-child, #theater3 > div:first-child {
    border-bottom: 1px solid red;
    text-align: center;
    font-weight: bold;
}

#theater1 > div:nth-of-type(2), #theater2 > div:nth-of-type(2), #theater3 > div:nth-of-type(2) {
    margin-bottom: 5px;
}
#theater1 > div:nth-of-type(3), #theater2 > div:nth-of-type(3), #theater3 > div:nth-of-type(3) {
    margin-top: 5px;
}   

.theater1_time, .theater2_time, .theater3_time {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
} 

.theater1_time > div, .theater2_time > div, .theater3_time > div {
    background-color:  #E0C0C0;
    position: relative;
    cursor: pointer;
} 

.theater1_time > div:hover::before, .theater2_time > div:hover::before, .theater3_time > div:hover::before{
    content: '';    
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: yellow;
    border-radius: 40px;
    top: 50%;  /* 50% 수직 위치 (부모 요소 기준) */
    left: 50%; /* 50% 수평 위치 (부모 요소 기준) */
    transform: translate(-50%, -50%); /* 요소의 가로 및 세로의 50%만큼 이동시켜 가운데로 정렬 */
}

.theater1_time > div > div, .theater2_time > div > div, .theater3_time > div >div {
    position: relative;
}

#ticketing2{
    width: 1150px;
    height: 400px;
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
    /* flex-shrink: 0; */
}

#ticketing2_screen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/step2/screen_bg.png) repeat-x left;
}

#ticketing2_screen > span {
	font-size: 20px;
}

#ticketing2_seat{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 6fr 1fr;
    height: 355px;
}

#seat_area{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin: 40px 85px 40px 221px;
    /* border: 1px solid black; */
    align-items: center;
    grid-gap: 10px;
}

.seatRow{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 25px;
    font-weight: bold;
}

.seat_A, .seat_B, .seat_C, .seat_D {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    font-weight: bold;
}


#seat_description {
	display: flex;
    align-items: flex-end;
}

#seat_description > img {
    width: 70%;
    margin: auto;
}
.seat{
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(40px, 40px)); */
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 10px;
    height: 40px;
}



#selectInfo{
    display: grid;
    grid-auto-flow : column;
    grid-template-columns: 2fr 1fr 2fr 1fr 1fr 2fr;
    position: relative;
    width: 100%;
    min-width: 996px;
    height: 128px;
    background-color: #1d1d1c;
}

#selectInfo > div{
    /* border: 1px solid #B73232; */
    color: white;
    height: 128px;
}

#posterImg {
    height: 100%;
    margin-left: 300px;
}

#ticket-movieName {
    display: flex;
    align-items: center;
    justify-content: center;
}

#selectInfo > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ticket-movieInfo, #ticket-seatInfo, #ticket-payInfo{
    display: flex;
    justify-content: center;
    align-items: center;
} 

#ticket-movieName > span, #ticket-payInfo > table > tbody > tr > td:last-child, #ticket-seatInfo > table > tbody > tr > td:last-child, #ticket-movieInfo > table > tbody > tr > td:last-child{
    font-weight: bold;
    font-size: 18px;
}

#ticket-payButton {
	border: none;
    margin-right: 200px;
}

#ticket-payButton > button {
    border: none;
    width: 154px;
    height: 105px;
    border-radius: 50px;
    background: #625F5F;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#ticket-payButton > button:hover{
	cursor: pointer;
}

#ticket-payButton > button > span {
	font-weight: bold;
	font-size: 20px;
	color: white;
}

.bi bi-arrow-right-circle-fill, .bi-arrow-right-circle-fill::before{
	font-size: 50px;
	margin-bottom: 5px;

}

footer {
    width: 100%;
    height: 350px;
    background-color: #f8f8f8;
}