body {
    display: grid;
    justify-items: center;
  }

  .container {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    height: 600px;
    text-align: center;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .main {
    display: grid;
    grid-template-rows: 80px 150px 300px 50px;
    width: 900px;
  }