body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0%;
    background-image: url("/cinema/resources/image/background/newtroBackground.png");
    background-repeat: repeat;
}

header-area{
    position: sticky;
    z-index: 10;
    top: 0px;
    width: 100VW;
    height: 215px;
}
header-area > div:first-child {
    margin: opx;
    width: 100vw;
    height: 40px;
}

header-area > div:first-child > img{
    margin: opx;
    width: 100vw;
    height: 40px;
}

.topMenu{
    margin: 0px;
    height: 180px;
    display: grid;
    grid-template-columns: 400px 600px 400px 300px;
    place-items: center;
}

.topMenu > div:first-child > a img{
    width: 180px;
    height: 180px; 
}

.sideMenu{
    width: 300px;
    height: 900px;
    z-index: 30;
    position: fixed;
    top: 0px;
    right: -1000px; /* Initially off-screen */
    transition: right 1s ease-in-out; /* Transition for smooth animation */
    box-sizing: border-box;
    background-color: white;
    border: 1px solid lightgray;
}
.sideMenu ul{
    width: 300px;
    height: 900px;
    top: 0px;
    box-sizing: border-box;
}

.sideMenu li{
    text-align: center;
    list-style: none;
    width: 300px;
    height: 100px;
    font-size: 24px;
}

.sideMenu li > button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding-bottom: 10px;
    color: #0C4667;
    font-size: 40px;
}

.search{
    position: relative;
    display: flex;
    width: 400px;
    height: 180px;
    justify-content: center;
    align-items: center;
}

.search > div > button{
    cursor: pointer;
    position: absolute;
    top: 67px;
    left: 330px;
    width: 45px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #0C4667;
    height: 45px;
    margin: 0px;
}

#search{
    outline: none;
    width: 380px;
    height: 50px;
    padding-left: 25px;
    font-size: 18px;
    border: 3px solid #0C4667;
    border-radius: 25px;
}

.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
    gap:15px;
}
.icon > button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding-bottom: 10px;
    color: #0C4667;
    font-size: 40px;
}
